@model TaskManagementSystem.Models.AddTaskViewModel

@{
    ViewData["Title"] = "AddTask";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row shadow-lg  p-3 mb-5 rounded">
    <div class="col-lg-6 d-none d-lg-block">
        <img src="~/Images/Task.jpg" class="img-fluid" />
    </div>
    <div class="col-lg-6">
        @if (ViewBag.Error != null)
        {
            <p class="text-danger">@ViewBag.Error</p>
        } 
        <h1>Add Task</h1>
        <form class="row g-3" asp-controller="Task" asp-action="AddTask" enctype="multipart/form-data">
            <div class="col-md-12">
                <label asp-for="Task.Title" class="form-label">Title</label>
                <input class="form-control" placeholder="Title" asp-for="Task.Title">
                <span asp-validation-for="Task.Title" class="text-danger"></span>
            </div>
            
            <div class="col-12">
                <label asp-for="Task.Description" class="form-label">Description</label>
                <input class="form-control" placeholder="Description" asp-for="Task.Description">
                <span asp-validation-for="Task.Description" class="text-danger"></span>
            </div>
            <div class="col-12">
                <label asp-for="Task.DueDate" class="form-label">DueDate</label>
                <input class="form-control" placeholder="DueDate" asp-for="Task.DueDate">
                <span asp-validation-for="Task.DueDate" class="text-danger"></span>
            </div>
            <div class="col-12">
                <label asp-for="PriorityId" class="form-label">Priority</label>
                <select asp-for="PriorityId" asp-items="Model.Priorities" class="form-control">
                </select>
                <span asp-validation-for="PriorityId" class="text-danger"></span>
            </div>
             <div class="col-12">
                <label asp-for="StatusId" class="form-label">Confirm Password</label>
                <select asp-for="StatusId" asp-items="Model.Statuses" class="form-control">
                </select>
                <span asp-validation-for="StatusId" class="text-danger"></span>
            </div> 
            @* <div class="col-12">
                <label for="Attachments" class="form-label">Attachments (Optional)</label>
                <input class="form-control" type="file" multiple>
                @if (@TempData["SizeError"] != null)
                {
                    <span class="text-danger fw-bold">@TempData["SizeError"]</span>
                }
                @if (@TempData["ExtensionError"] != null)
                {
                    <span class="text-danger fw-bold">@TempData["ExtensionError"]</span>
                }
            </div> *@
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Add Task</button>
                <a class="btn btn-outline-dark" asp-action="Index" asp-controller="Home">Back</a>
            </div>
        </form>
    </div>
</div>