@model TaskManagementSystem.Models.UserRegistrationViewModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row shadow-lg  p-3 mb-5 rounded">
    <div class="col-lg-6 d-none d-lg-block">
        <img src="~/Images/Registration.jpg" class="img-fluid" />
    </div>
    <div class="col-lg-6">
        @if (ViewBag.Error!=null)
        {
            <p class="text-danger">@ViewBag.Error</p>
        }
        <h1>Sign Up</h1>
        <form class="row g-3" asp-controller="User" asp-action="Register" enctype="multipart/form-data">
            <div class="col-md-6">
                 <label asp-for="FirstName" class="form-label">First Name</label>
                <input class="form-control" placeholder="First Name" asp-for="FirstName">
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="LastName" class="form-label">Last Name</label>
                <input class="form-control" placeholder="Last Name" asp-for="LastName">
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="col-12">
                <label asp-for="Username" class="form-label">Username</label>
                <input class="form-control" placeholder="Username" asp-for="Username">
                <span asp-validation-for="Username" class="text-danger"></span>
                @* <span class="text-danger fw-bold">Username already exists!</span> *@
            </div>
            <div class="col-12">
                <label asp-for="Email" class="form-label">Email</label>
                <input class="form-control" placeholder="Email" asp-for="Email">
                <span asp-validation-for="Email" class="text-danger"></span>
                @* <span class="text-danger fw-bold">Email already exists!</span> *@
            </div>
            <div class="col-12">
                <label asp-for="Password" class="form-label">Password</label>
                <input class="form-control" placeholder="Password" asp-for="Password">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="col-12">
                <label asp-for="ProfilePicture" class="form-label">Profile Picture (Optional)</label>
                <input class="form-control" asp-for="ProfilePicture">
                @if (@TempData["SizeError"]!=null)
                {
                    <span class="text-danger fw-bold">@TempData["sizeError"]</span>
                }
                @if (@TempData["ExtError"] != null)
                {
                    <span class="text-danger fw-bold">@TempData["ExtensionError"]</span>
                }
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Sign in</button>
                <a class="btn btn-outline-dark" asp-action="Index" asp-controller="Home">Back</a>
            </div>
        </form>
    </div>
</div>